<table class="table">
    <thead class="thead" style="background-color: rgb(85, 124, 85) !important; color:white;">
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">User Email</th>
        <th scope="col">Item Name</th>
        <th scope="col">Item Seller</th>
        <th scope="col">Item Price</th>
        <th scope="col">Item Image</th>
        <th scope="col">Order Status</th>
        <th scope="col">Send Email</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let o of orderList">
        <tr>
            <th scope="row">{{o.user.name}}</th>
            <td>{{o.user.email}}</td>
            <td>{{o.item.name}}</td>
            <td>{{o.item.seller}}</td>
            <td>{{o.item.price | currency}}</td>
            <td>
                <img [src]="o.item.image" style="height:60px; width: 80px;">
            </td>
            <td>{{getStatus(o.date)}}</td>
            <td>
                <button class="btn btn-sm btn-secondary" (click)="sendStatusEmail(o.user.email, getStatus(o.date))">
                    Send Email
                </button>
            </td>
        </tr>
      </ng-container>
    </tbody>
</table>